* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
    color: rgb(110, 219, 219);
}

.hola-mundo {
    background-color: blueviolet;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;

   
}
.hola-mundo:hover{
    background-color: cornflowerblue;
    transition: .3s;
    
}

h1_hover{
    color: darkslateblue;
    transform: skew(-15deg);
    transition: .3s;
}


.flex-index{  
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;

  }
  .flex-index img{
    padding: 5px;
  }

@media (max-width: 650px) {
    .hola-mundo {
        background-color: rgb(192, 65, 132);
    }
}